html {
	font-size: 62.5%
}

body {
	background-color: black;
	color: #000;
	margin: 3px 8px 3px 3px;
	padding: 0px;
	font: 100% Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
}


/**
 * Right panel
 */

h1 {
	font-size:1.8em;
	background-repeat:no-repeat;
	background-position:top left;
	padding:0px 0px 5px 28px;
	margin:5px 0px 0px 0px;
	width:360px;
	
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#ccc;
}


h2 {
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#ccc;
	width:200px;
	color:#000;
	margin:15px 0px 8px 0px;
	font-size:1.4em;
}

ul, li {
	font-size:1em;
}

p {
	margin:0px;
	padding:3px 0px 3px 0px;	
}

ul.summary {
	list-style-type:none;
	margin:0px;
	padding-left:20px;
	font-size:1.2em;
	line-height:1.5em;
}
ul.summary li {
	margin:0px;
	padding:0px 0px 1px 0px;
}
ul.summary li.Expanded ul {
	border:1px solid #ccc;
	background-color:#f5f5f5;
	padding:0px 3px 4px 22px;
	margin:5px 0px 6px 12px;
}

ul.description {
	margin:0px 0px 5px 15px;
	padding:0px;
	list-style-image:url(point.png);
}
ul.description li {
	margin:0px;
	padding:0px;
}
ul.single {
	margin:5px 0px 5px 0px;
	padding:0px;
	list-style:none;
}


ul.indexAll {
	list-style: none;
  line-height:17px;
  font-size:1.1em;
}

/**
 * Navigation bar
 */

ul.navig {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 5px 1px 0px 0px;
	float:right;
}

ul.navig li {
	display: inline;
	margin: 0px;
	padding: 0px 0px 0px 6px;
	font-size: 1em;
	text-transform: uppercase;
	color:#333;
}

ul.navig a {
	text-decoration:underline;
}

ul.navig a.right {
	background: url(right.png) no-repeat center left;
	padding-left:11px;
	color:#1515ff;
}
ul.navig a.left {
	background: url(left.png) no-repeat center left;
	padding-left:11px;
	color:#1515ff;
}
ul.navig a.top {
	background: url(top.png) no-repeat center left;
	padding-left:11px;
	color:#005b00;
}
ul.navig a.expandAllBtn {
	background: url(expand-all.png) no-repeat center left;
	padding:0px 8px 0px 16px;
	color:#333;
}
ul.navig a.helpBtn {
	background: url(help.png) no-repeat center left;
	padding:0px 8px 0px 18px;
	color:#333;
}
ul.navig a.indexAllBtn {
	background: url(index-all.png) no-repeat center left;
	padding:0px 8px 0px 19px;
	color:#333;
}

#footer {
	padding:20px 0px 5px 0px;
	font-style:italic;
	position:relative;
	bottom:0px;
	text-align:right;
	color:#505050;
}
        
/**
 * Inheritance diagram
 */

dl.inheritTree {
	background-color:#f5f5f5;
	padding:3px 6px 3px 6px;
	margin:5px 0px 5px 0px;
	border:1px solid #ccc;
}

dl.inheritTree dd {
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}

dl.inheritTree .current {
	font-family:"Courier New", monospace;
	font-size:1.1em;
	font-weight:bold;
}

div.description {
	font-size:1.2em;
	padding:0px 3px 0px 6px;
	margin:20px 0px 10px 0px;
	border:1px solid #ccc;
}

div.descriptionPkg {
	font-size:1.2em;
	padding:0px;
	margin:20px 0px 15px 0px;
}

a {
	color:#383838;
	background-repeat:no-repeat;
	background-position:center left;
	text-decoration:none;
}
.model {
	color:#005b00;
}
.package {
	color:#005b00;
}
.class {
	color:#1515ff;
}
.datatype {
	color:#1515ff;
}
.interface {
	color:#1515ff;
}
.property {
	color:#bd7a0e;
}
.method {
	color:#80233d;
}

/**
 * Left menu
 */

#MainList {
	padding:0px 0px 0px 3px;
}

#MainList a {
	padding:0px 0px 0px 20px;
}

#MainList a.link, span.link {
	padding:0px;
	color:#1515ff;
	font-family:"Courier New", monospace;
	font-size:1em;
}

#MainList a.link2 {
	padding:0px;
	color:#1515ff;
	/*text-decoration:underline;*/
	font-family:"Courier New", monospace;
	font-size:1em;
}

.title {
	font-weight:bold;
	color:#222;
	letter-spacing:1px;
}

.smallTitle {
	font-weight:bold;
	color:#222;
}

.defVal, .abstract, .note {
	font-style:italic;
}

.note {
	font-style:italic;
	font-size:0.8em;
}
li.smaller {
	font-size:0.9em;
}

a.model {
	background-image: url(model.png);
	font-weight:bold;
}
a.package {
	background-image: url(package.png);
}
a.class {
	background-image: url(class.png);
}
a.interface {
	background-image: url(interface.png);
	font-style:italic;
}
a.datatype {
	background-image: url(datatype.png);
}
a.property {
	background-image: url(property.png);
}
a.property-pub {
	background-image: url(property-pub.png);
	color:#bd7a0e;
}
a.property-pro {
	background-image: url(property-pro.png);
	color:#bd7a0e;
}
a.property-pri {
	background-image: url(property-pri.png);
	color:#bd7a0e;
}
a.method {
	background-image: url(method.png);
}
a.method-pub {
	background-image: url(method-pub.png);
	color:#80233d;
}
a.method-pro {
	background-image: url(method-pro.png);
	color:#70233d;
}
a.method-pri {
	background-image: url(method-pri.png);
	color:#70233d;
}


/**
 * Treeview
 */

.TreeView {
	display:block;
  line-height:18px;
  font-size:1.2em;
	cursor:pointer; 
	font-style:normal;
}

.TreeView li {
	margin:0px;
	padding:0 0 0 16px;
	list-style:none;
}

.TreeView, .TreeView ul {
	margin:0;
	padding:0;
}

.TreeView li.Expanded {
 	background: url(minus.gif) no-repeat left top;
}

li.Expanded ul {
	display: block;
}

.TreeView li.Collapsed {
	background: url(plus.gif) no-repeat left top;
}

li.Collapsed ul {
	display: none;
}

